.card {
    width: 400px;
    max-width: 90vw;
    height: 400px;
    gap: 20px;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-color: hsl(213, 19%, 18%);
    box-sizing: border-box;
    border-radius: 25px;
    outline: 0;
    padding: 2em;
    margin: 0 auto;
  }